/* =Menu
-------------------------------------------------------------- */

#mainmenu {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}
#mainmenu ul {
	list-style: none;
	
}
#mainmenu li {
	float: left;
	position: relative;
}
#mainmenu a {
	display: block;
	text-decoration: none;
}
#mainmenu ul ul {
	display: none;
	float: left;
	margin: 0;
	position: absolute;
	padding-top: 0px;
        padding-left: 0px;
	left: 0;
	width: 188px;
	z-index: 99999;
}
#mainmenu ul ul ul {
	left: 100%;
	top: 0;
}
#mainmenu ul ul a {
	background: #f9f9f9;
	border-bottom: 1px dotted #ddd;
	color: #444;
	font-size: 13px;
	font-weight: normal;
	height: auto;
/*	line-height: 1.4em;
	padding: 10px 10px;*/
	width: 168px;
}
#mainmenu li:hover > a,
#mainmenu ul ul :hover > a,
#mainmenu a:focus {
	background: #efefef;
}
#mainmenu li:hover > a,
#mainmenu a:focus {
	background: #f9f9f9; /* Show a solid color for older browsers */
	
	color: #373737;
}
#mainmenu ul li:hover > ul {
	display: block;
}
#mainmenu .active > a,
#mainmenu .current-menu-ancestor > a,
#mainmenu .current_page_item > a,
#mainmenu .current_page_ancestor > a {
	font-weight: bold;
}